extends ./layout.pug

block title
  title Articles/Products/Express
block body

  if page == 'Product Page'
    h1#header #{page}
    h3#idNumber Product ##{product.id}
    div#root
      div.entryBox
        form(method='post' action='#')
          p.field Product Name
          input(placeholder=product.name name='name')
          p.field Product Price
          input(placeholder=product.price name='price')
          p.field Product Inventory
          input(placeholder=product.inventory name='inventory')
          button#send Edit
  else
    h1#header #{page}
    h3#title Article: #{article.title}
    div#root
      div.entryBox
        form(method='post' action='#')
          p.field Article Title
          input(placeholder=article.title name='title')
          p.field Article Author
          input(placeholder=article.author name='author')
          p.field Article Body
          input(placeholder=article.body name='body')
          button#send Edit