mixin productList(products)
  //-iterate through data with `each ... in ...`

  ul
    each product in products
      li.product
        - const route ='/products/' + product.id + '/edit'
        a(href=route)
          h3 #{product.name}
          p.product id: #{product.id}
          p.product price: #{product.price}
          p.product inventory: #{product.inventory}

mixin articlesList(articles)
  //-iterate through data with `each ... in ...`
  ul
    each article in articles
      li.article
        - const route = '/articles/' + article.urlTitle + '/edit'
        a(href=route)
          h3 #{article.title}
          p.article urlEncodedTitle: #{article.urlTitle}
          p.article author: #{article.author}
          p.article body: #{article.body}